
$primary: #5265E1;
$secondary: #FA5959; 
$accordion-color: #5265E1;
$h4-font-size: 1rem;
$accordion-icon-active-color:  #FA5959;

h1{
    font-weight: bold;
}

h4{
    color: #1e1e20;
}

h4:hover{
    color:#FA5959;
}

h5{
    color: black;
}

.faqsAcordion h5:hover{
    color: #FA5959;
}


h6{
    color: #1e1e20;
}

h6:hover{
    color:$secondary;  
    border-bottom: 5px solid red;  
}

p{
    color: #9495a3;
    font-weight:610; 
}

header p{
    color: white;
}

.imgHero{
    position: relative;
    bottom: 3em;
}

.backBlue{
    background-color: #5265E1;
    border-top-left-radius: 700px;  
    border-bottom-left-radius: 700px; 
    position: relative;
    top: 3em; 
    bottom: 0;   
}

.imgHero2{
    position: relative;
    bottom: 3em;
    left: 1em;
}

.backBlue2{
    background-color: #5265E1;
    border-top-right-radius: 700px;  
    border-bottom-right-radius: 700px; 
    position: relative;
    top: 3em; 
    bottom: 0;   
}

.card:nth-child(1){
    position: relative;
    bottom: 50px;
}

.card:nth-child(3){
    position: relative;
    top: 50px;
}

.footNav{
    background-color: #060b44;
}

footer p{
    color: rgb(204, 187, 187);
}

footer p:hover{
    color:#FA5959;
}

footer h3{
    color: white;
}

footer h5{
    color: white;
}

footer button p{
    color: rgb(255, 255, 255);
}

.socialLink:hover{
    filter: brightness(0) saturate(100%) invert(49%) sepia(69%) saturate(1784%) hue-rotate(324deg) brightness(96%) contrast(116%);;
}

.btn-secondary.active:hover{
    background-color: white;
    border-color: #FA5959;
    p {
     color: #FA5959;
    }    
}

.btn-primary p{
    color:white
}

.btn-primary.active:hover{
    background-color: white;
    border-color:#5265E1;
    p {
     color: #5265E1;
    }    
}

.btn-light p{
    color: black;
}

.btn-light.active:hover{
    background-color: white;
    border-color:black;   
}




@media(max-width: 768px ){
    
    h1{
        justify-content: center;
        text-align: center;
    }

    h2{
        justify-content: center;
        text-align: center;
    }
    
    p{
        justify-content: center;
        text-align: center;
    }

    .imgHero{      
        bottom: 2em;
    }
    
    .backBlue{
        margin-top:2em;
        margin-bottom: 2em;
        top:1em; 
    }

    .backBlue2{
        margin-top:2em;
        margin-bottom: 2em;
        top:1em; 
    }

    .getBrowser{
        display: flex;
        justify-content: center;
    }
    
    .getInfo{
        display: flex;
        justify-content: center;
    }

    .imgLogo{
        padding: 2em;
    }

    .card1{
        position: static;
    }
    
    .card3{
        position: static;
    }

    .links{
        display: flex;
        justify-content: center;
    }
}


@media(max-width:576px ){

    
    
    .imgHero{
        justify-content: center;
        right: 1em;
    }
    .backBlue{       
        position: static;
        margin-left: auto;
    }

    .imgHero2{
        justify-content: center;
        left: 1em;
    }

    .backBlue2{       
        right: 1em;
    }

}

@import "../node_modules/bootstrap/scss/bootstrap";

